<!DOCTYPE html>
<html lang="fr"  ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Ashes - Liste des cartes</title>

        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <script>
          less = {
              strictMath: true
          };
        </script>
        <link rel="stylesheet/less" type="text/css" href="style.less" />
        <script src="lib/less.js" type="text/javascript"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

        <script type="text/javascript" src="app.js"></script>

        <script type="text/javascript" src="controllers/nav.js"></script>

        <script type="text/javascript" src="directives/pbs.js"></script>
        <script type="text/javascript" src="directives/cards.js"></script>
        <script type="text/javascript" src="directives/dice.js"></script>
        <script type="text/javascript" src="directives/decks.js"></script>
        <script type="text/javascript" src="directives/pb.js"></script>
        <script type="text/javascript" src="directives/card.js"></script>
        <script type="text/javascript" src="directives/die.js"></script>
        <script type="text/javascript" src="directives/invocation.js"></script>

        <script type="text/javascript" src="filters/cost.js"></script>
        <script type="text/javascript" src="filters/trust.js"></script>
        <script type="text/javascript" src="filters/reverse.js"></script>
        <script type="text/javascript" src="filters/localeCompareString.js"></script>

        <script type="text/javascript" src="data/cards.js"></script>
        <script type="text/javascript" src="data/dice.js"></script>
        <script type="text/javascript" src="data/phoenixborns.js"></script>
        <script type="text/javascript" src="data/prebuiltdecks.js"></script>
        <script type="text/javascript" src="data/tags.js"></script>
    </head>
    <body>
        <section ng-controller="navController as navCtrl" ng-cloak>
            <menu>
                <a href="" ng-click="navCtrl.setTab(1)" ng-class="{ active:navCtrl.isSet(1) }">
                    Héritiers
                </a>
                <a href="" ng-click="navCtrl.setTab(2)" ng-class="{ active:navCtrl.isSet(2) }">
                    Cartes
                </a>
                <a href="" ng-click="navCtrl.setTab(3)" ng-class="{ active:navCtrl.isSet(3) }">
                    Dés
                </a>
                <a href="" ng-click="navCtrl.setTab(4)" ng-class="{ active:navCtrl.isSet(4) }">
                    Decks
                </a>
            </menu>
            <article>
                <pbs ng-show="navCtrl.isSet(1)"></pbs>
                <cards ng-show="navCtrl.isSet(2)"></cards>
                <dice ng-show="navCtrl.isSet(3)"></dice>
                <decks ng-show="navCtrl.isSet(4)"></decks>
            </article>
        </section>
    </body>
</html>
